# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.CityControlRepository.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\dev\CityControl\CityControlRepository\.idea\.idea.CityControlRepository\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
